form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

span {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
}
